body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fefefe;
	color: #454545;
}
.nav a {
	color: gray;
	text-decoration: none;
}
.nav a:hover {
	color: blue;
}
.nav h2,
.nav p {
	display: inline;
}
.nav h2 {
	font-family: "Courier New", Courier, monospace;
}
.nav img {
	float: right;
}

.hidden {
	display: none;
}

#container {
	margin: 2em auto;
	max-width: 800px;
	padding: 1em;
	line-height: 1.4;
	text-align: justify;
}

