<div class='nav'>
    <ul>
        <a href="/index.html">
            <li><h2 id="web-title">Striving for Efficiency:</h2></li>
            <li><p id="web-sub-title">The Musings of a Lunatic</p></li>
        </a>
        <a href="https://github.com/agupta231">
            <li><img src="/images/index/github-logo.png" height="30px"/></li>
        </a>
        <a href="https://linkedin.com/in/agupta628">
            <li><img src="/images/index/linkedin-logo.png" height="30px"/></li>
        </a>
	</ul>
	<hr>
</div>
